<!doctype html>
<form>
<article id="message-<%= message.id %>" class="bg-emerald-900 rounded-xl">
    <div class="flex p-1">
        <div class="w-32">
            <img src="<%= message.media %>" class="rounded-xl w-full">
        </div>
        <div class="flex-1 flex px-4 py-2">
            <!-- yes, there has to be no identation inside textarea -->
            <textarea name="text" rows="6" class="flex-1 bg-emerald-950"><%= message.text %></textarea>
        </div>
        <div class="flex flex-col gap-2">
            <button class="p-1"
                hx-get="/messages/<%= message.id %>"
                hx-target="#message-<%= message.id %>"
                hx-swap="outerHTML"
            >
                <i class="fa-delete-left fa-solid"></i>
            </button>
            <button class="p-1"
                hx-put="/messages/<%= message.id %>"
                hx-target="#message-<%= message.id %>"
                hx-swap="outerHTML"
            >
                <i class="fa-floppy-disk fa-solid"></i>
            </button>
            <button class="p-1"
                hx-delete="/messages/<%= message.id %>"
                hx-target="#message-<%= message.id %>"
                hx-swap="outerHTML"
                hx-confirm="Are you sure you wish to delete this message?"
            >
                <i class="fa-trash fa-solid"></i>
            </button>
        </div>
    </div>
    <div hx-get="/groups/selector?<%= message.groupIds.map(id => 'checked=' + id).reduce((acc, next) => acc + '&' + next, '')%>"
        hx-trigger="load"
        hx-swap="outerHTML"
    ></div>
</article>
</form>
