<!doctype html>
<form hx-encoding="multipart/form-data"
    hx-put="/messages/<%= message.id %>"
    hx-target="#message-<%= message.id %>"
    hx-swap="outerHTML"
    hx-disinherit="*"
>
<!-- disabled the pesky inheritance -->
<article id="message-<%= message.id %>" class="bg-emerald-900 rounded-r-xl">
    <div class="flex p-1">
        <div class="w-32 relative">
            <img id="media-img-<%= message.id %>" src="<%= message.media %>" class="rounded-xl w-full">
            <div class="absolute top-0 right-0">
                <div class="w-10 h-10 rounded-xl bg-emerald-950/70 flex justify-center items-center">
                    <i class="fa-upload fa-solid fa-xl"></i>
                </div>
            </div>
            <div class="absolute top-0 left-0">
                <div class="w-10 h-10 rounded-xl bg-emerald-950/70 flex justify-center items-center">
                    <i class="fa-trash fa-solid fa-xl"></i>
                </div>
            </div>
            <input type="file"
                id="media-input-<%= message.id %>"
                name="media"
                accept="image/*,video/*"
                class="absolute inset-y-0 inset-x-1/2 right-0 opacity-0 cursor-pointer"
            >
            <input type="text"
                id="media-delete-<%= message.id %>"
                name="deletemedia"
                value="false"
                class="absolute inset-y-0 inset-x-1/2 left-0 opacity-0 cursor-pointer"
            ></input>
        </div>
        <div class="flex-1 flex px-4 py-2">
            <!-- yes, there has to be no identation inside textarea -->
            <textarea name="text" rows="6" class="flex-1 bg-emerald-950"><%= message.text %></textarea>
        </div>
        <div class="flex flex-col gap-2">
            <!-- type button is needed cuz buttons are submit by default -->
            <button class="p-1"
                type="button"
                hx-get="/messages/<%= message.id %>"
                hx-target="#message-<%= message.id %>"
                hx-swap="outerHTML"
            >
                <i class="fa-delete-left fa-solid"></i>
            </button>
            <button type="submit" class="p-1">
                <i class="fa-floppy-disk fa-solid"></i>
            </button>
            <button class="p-1"
                type="button"
                hx-delete="/messages/<%= message.id %>"
                hx-target="#message-<%= message.id %>"
                hx-swap="outerHTML"
                hx-confirm="Are you sure you wish to delete this message?"
            >
                <i class="fa-trash fa-solid"></i>
            </button>
        </div>
    </div>
    <div class="flex justify-end gap-4">
        <%- include('comps/interval-builder.ejs', { label: 'wait', interval: message.waitInterval, id: 'wait'+message.id }) %>
        <%- include('comps/interval-builder.ejs', { label: 'send', interval: message.sendInterval, id: 'send'+message.id }) %>
    </div>
    <div hx-get="/groups-selector?<%= message.groupIds.map(id => 'checked=' + id).reduce((acc, next) => acc + '&' + next, '')%>"
        hx-trigger="load"
        hx-swap="outerHTML"
    ></div>
    <script>
        var mediaInput = document.getElementById('media-input-<%= message.id %>');
        var mediaImg = document.getElementById('media-img-<%= message.id %>');
        var mediaDelete = document.getElementById('media-delete-<%= message.id %>');
        mediaInput.addEventListener('change', e => {
            if (e?.target?.files && e?.target?.files[0]) {
                mediaImg.src = URL.createObjectURL(event.target.files[0]);
                mediaDelete.value = 'false';
            }
        });
        mediaDelete.addEventListener('click', e => {
            if (confirm('Are you sure you wish to remove the image?')) {
                mediaImg.src = '';
                mediaInput.value = '';
                mediaDelete.value = 'true';
            }
        });
    </script>
</article>
</form>
