<!doctype html>
<article id="message-<%= message.id %>" class="bg-emerald-900 rounded-r-xl">
    <div class="flex p-1">
        <div class="w-32">
            <img src="<%= message.media %>" class="rounded-xl w-full">
        </div>
        <p class="flex-1 px-4 py-2">
            <%- message.text.replaceAll('\n', '<br>') %>
        </p>
        <div class="flex flex-col gap-2">
            <button class="p-1"
                hx-get="/messages/<%= message.id %>/edit"
                hx-target="#message-<%= message.id %>"
                hx-swap="outerHTML"
            >
                <i class="fa-pencil fa-solid"></i>
            </button>
            <% if (message.status === 'STOPPED') { %>
                <button class="p-1"
                    hx-post="/messages/<%= message.id %>/send/start"
                    hx-target="#message-<%= message.id %>"
                    hx-swap="outerHTML"
                >
                    <i class="fa-circle-play fa-solid"></i>
                </button>
            <% } else { %>
                <button class="p-1"
                    hx-post="/messages/<%= message.id %>/send/stop"
                    hx-target="#message-<%= message.id %>"
                    hx-swap="outerHTML"
                >
                    <i class="fa-circle-stop fa-regular"></i>
                </button>
            <% } %>
        </div>
    </div>
    <div class="flex p-1 flex-wrap gap-2">
        <% for (gid of message.groupIds.slice(0,8)) { %>
            <div class="flex justify-center items-center w-8 h-8"
                hx-get="/client/chats/<%= gid %>/icon"
                hx-trigger="load"
                hx-swap="outerHTML"
            >
                <i class="fa-circle-notch fa-solid animate-spin"></i>
            </div>
        <% } %>
        <% if (message.groupIds.length > 8) { %>
            <div class="flex justify-center items-center w-8 h-8 bg-emerald-950 rounded-full text-xs">
                +<%= message.groupIds.length - 8 %>
            </div>
        <% } %>
        <div class="flex-1 flex justify-end items-center p-1 gap-2 text-xs">
            <div>
                <i class="fa-hourglass-end fa-solid"></i>
                Wait: <%= parseIntervalToStr(message.waitInterval) %>
            </div>
            <div>
                <i class="fa-paper-plane fa-solid"></i>
                Send: <%= parseIntervalToStr(message.sendInterval) %>
            </div>
        </div>
    </div>
</article>
