<!doctype html>
<article id="<%= message.id %>" class="bg-emerald-900 rounded-xl">
    <div class="flex p-1">
        <div class="w-32">
            <img src="<%= message.media %>" class="rounded-xl w-full">
        </div>
        <p class="flex-1 px-4 py-2">
            <%- message.text %>
        </p>
    </div>
    <div class="flex p-1 flex-wrap gap-2">
        <% for (gid of message.groupIds) { %>
            <div hx-get="/chats/<%= gid %>/icon"
                hx-trigger="load"
                hx-swap="outerHTML"
                hx-indicator="#icon-<%= gid %>-indicator"
            >
                <i id="icon-<%= gid %>-indicator"
                    class="fa-spinner fa-solid animate-spin"
                ></i>
            </div>
        <% } %>
    </div>
</article>
