<!doctype html>
<article id="message-<%= message.id %>" class="bg-emerald-900 rounded-xl">
    <div class="flex flex-col sm:flex-row p-1">
        <div class="flex">
            <div class="flex-1 sm:w-32">
                <img src="<%= message.media %>" class="rounded-xl w-full">
            </div>
            <div class="w-[26px] flex flex-col-reverse gap-2 sm:hidden ml-1">
                <%- include('comps/message-actions.ejs', { message }) %>
            </div>
        </div>
        <p class="flex-1 p-1 sm:px-4 sm:py-2">
            <%- message.text.replaceAll('\n', '<br>') %>
        </p>
        <div class="p-1 sm:p-0 sm:px-4 text-xs">
            <div class="contents"
                hx-ext="sse"
                sse-connect="/messages/<%= message.id %>/events"
                sse-swap="current-status,status-changed"
            >
                <div class="flex flex-row sm:flex-col justify-between sm:justify-end items-center gap-2 px-4 py-2 sm:w-32 bg-emerald-950 rounded-xl">
                    <span class="opacity-0">...</span>
                    <span class="opacity-0">...</span>
                    <span class="opacity-0">...</span>
                </div>
            </div>
        </div>
        <div class="w-[26px] flex flex-col gap-2 hidden sm:flex">
            <%- include('comps/message-actions.ejs', { message }) %>
        </div>
    </div>
    <div class="flex p-1 flex-wrap gap-2">
        <% for (gid of message.groupIds.slice(0,8)) { %>
            <div class="flex justify-center items-center w-8 h-8"
                hx-get="/client/chats/<%= gid %>/icon"
                hx-trigger="load"
                hx-swap="outerHTML"
            >
                <i class="fa-circle-notch fa-solid animate-spin"></i>
            </div>
        <% } %>
        <% if (message.groupIds.length > 9) { %>
            <div class="flex justify-center items-center w-8 h-8 bg-emerald-950 rounded-full text-xs">
                +<%= message.groupIds.length - 9 %>
            </div>
        <% } %>
        <div class="flex-1 flex justify-end items-center p-1 gap-2 text-xs whitespace-nowrap">
            <span class="cursor-default" title="<%= message.id %>">
                <%= message.id.split('-')[0] || '' %>
            </span>
        </div>
    </div>
</article>
